.container {
    background: darkblue;
    max-width: 17vw;
    height: 38vh;
    border: 0px;
    padding: 0px;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 109px solid transparent;
    border-left: 151px solid rgba(192,192,192,.2);
    border-bottom: 57px solid transparent;
    position: absolute;
    transform-origin: right center;
    margin: auto;
    z-index: 50;
    position: absolute;
    transform: translate (-25px);
    left: 44.8%;
}

.container > .triangle {
  transition: 1s;
}

.container > .one {
  transform: translate(-50px, 0px) rotate(60deg);
}

.container > .two {
  transform: translate(-50px, 0px) rotate(120deg);
}

.container > .three {
  transform: translate(-50px, 0px) rotate(180deg);
}

.container > .four {
  transform: translate(-50px, 0px) rotate(240deg);
}

.container > .five {
  transform: translate(-50px, 0px) rotate(300deg);
}

.container > .six {
  transform: translate(-50px, 0px) rotate(360deg);
}

p {
    color: white;
    z-index: 10000;
    width: 144px;
    margin: 0px;
    height: 0px;
    transform: rotateZ(269deg) rotateX(0deg) rotateY(360deg) translate(-14px, -144px);
    font-size: 22px;
    transform-origin: (100% 0%);
    transform-origin: 0% 0%;
    /* display: list-item; */
}

.container > .animation1 {
  border-left: 151px solid rgba(2, 20, 63, .7);
}

.container > .animation2 {
  border-left: 151px solid rgba(3, 34, 89, .7);
}

.container > .animation3 {
  border-left: 151px solid rgba(3, 49, 115, .7);
}

.container > .animation4 {
  border-left: 151px solid rgba(4, 63, 142, .7);
}

.container > .animation5 {
  border-left: 151px solid rgba(5, 77, 168, .7);
}

.container > .animation6 {
  border-left: 151px solid rgba(6, 106, 220, .7);
}

.slide {
  animation-name: slidein;
}

@keyframes slidein {
  from {
    width: 100vw;
  }

  to  {
    width: 50vw;
  }
}
